.cardBoxContainer {
  border-radius: 5px;
  padding: 3.5rem 1.5rem 2.5rem 1.5rem;
}

.cardStack {
  padding: 1rem 0 1rem 1rem;
  border-radius: 4px;
  display: flex;
  gap: 2rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
}

.cardTitleFirst {
  font-weight: 700;
  background: linear-gradient(#f9e006, #ff6738);
  background: -webkit-linear-gradient(#f9e006, #ff6738);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cardImageContainer {
  margin-top: -60px;
  margin-left: 20px;
  height: 100%;
}

.cardRightImage {
  display: block;
  width: 80%;
  height: 80%;
  margin: 0 auto;
  padding: 0;
}

.cardImageSkeleton {
  width: 210;
  height: 175;
}

.digitalBuyButton {
  padding: 1px;
  background: linear-gradient(90deg, #f9e006 0%, #f8931a 100%);
  border-radius: 4px;
}

.digitalBTNText {
  text-transform: capitalize;
}

.digitalCryptoInnerBox {
  border-radius: 4px;
}


/* For Mobile */

.fundCardMobileView {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
}

.cardTitleFirstMobile {
  font-weight: 700;
  background: linear-gradient(#f9e006, #ff6738);
  background: -webkit-linear-gradient(#f9e006, #ff6738);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
}

.imgCartContainerMobile {
  margin-top: -1.5rem;
  display: flex;
  justify-content: flex-end;
}

.imgMobileCart {
  display: block;
  width: 85%;
  height: 85%;
}

.cartBuyContainerBox {
  display: flex;
  margin-top: 1.5rem;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  justify-content: space-between;
}
