.redeemBox {
  padding: 32px 40px;
  border-radius: 4px;
}

.redeemBoxMobile {
  padding: 32px 16px;
}

.redeemCard {
  background: linear-gradient(76.79deg, #fee684 1.24%, #e09f39 98.07%);
  border-radius: 10px;
  padding: 27px 35px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.redeemCardMobile {
  background: linear-gradient(76.79deg, #fee684 1.24%, #e09f39 98.07%);
  border-radius: 10px;
  padding: 16px 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.chipStyle {
  margin-top: 8px;
  padding: 20px 24px;
  font-weight: 600;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  color: #262626;
  border-radius: 50px;
  background: rgba(255, 253, 212, 0.4);
}

.chipButton {
  padding: 11px 48px;
  font-size: 16px;
  color: #000;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 0.7px;
  transition: all 0.1s ease-in;
  background: rgba(255, 103, 56, 0.4);
  text-transform: capitalize;
}

.chipButton:hover {
  background: #ff6738;
  opacity: 0.8;
}

.badgeArea {
  border-radius: 4px;
  padding: 34px 64px 64px 64px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
}

.badgeAreaMobile {
  padding: 16px 24px;
}

.badgeProgressArea {
  margin-top: 32px;
}

.badgeBox {
  margin-bottom: 32px;
  padding-right: 16px;
}

.badgeBoxMobile {
  margin: 24px -16px;
}

.badge {
  padding: 14px 16px 6px 16px;
  border-radius: 4px;
}

.badgeMobile {
  padding: 10px 10px 5px 10px; 
  border-radius: 4px;
}

.badgeIcon {
  width: 30px;
  height: 30px;
}

.progressBar {
  position: relative;
  padding-left: 32px;
  padding-right: 32px;
}

.progressBarMobile {
  position: relative;
  margin-left: 5px;
  margin-right: 10px;
}

.checkBox {
  position: relative;
  display: block;
  cursor: pointer;
  margin-top: -24px;
}

.checkBoxMobile {
  position: relative;
  display: block;
  margin-top: -19px;
  margin-left: -16px;
  width: 110%;
}

.unCheckBox {
  position: absolute;
  display: block;
  right: 4%;
  top: -5%;
  width: 33%;
  margin-top: -7px;
  margin-right: 16px;
}

.checkIconsMobile {
  width: 20px;
  height: 20px;
}
