.mainBox {
  position: relative;
}

.timeLineArea {
  display: flex;
  height: 300px;
  margin-top: 16px;
  overflow-y: auto;
  flex-direction: column;
  justify-content: flex-start;
}

.timeLineArea::-webkit-scrollbar {
  width: 10px;
}

.timeLineArea::-webkit-scrollbar-track {
  background: transparent;
}

.timeLineDivider {
  height: 20px;
  width: 3px;
  margin: 5px 0px 5px 27px;
}

.numberArea {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px 16px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}
