.mainBox {
  margin-top: 16px;
  padding-left: 48px;
}

.avatar {
  width: 60px;
  height: 60px;
  display: block;
  border-radius: 50%;
}

.redeemBoxMobile {
  padding: 32px 16px;
}
.redeemCardMobile {
  background: linear-gradient(76.79deg, #fee684 1.24%, #e09f39 98.07%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 16px 24px;
}
.chipStyle {
  margin-top: 8px;
  font-weight: 600;
  color: #262626;
  border-radius: 50px;
  padding: 20px 24px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  background: rgba(255, 253, 212, 0.4);
}
.chipButton {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  padding: 11px 48px;
  letter-spacing: 0.7px;
  transition: all 0.1s ease-in;
  text-transform: capitalize;
  background: rgba(255, 103, 56, 0.4);
}
