.mainBox {
  margin-bottom: 16px;
}

/* Profile Info */
.profileInfo {
  margin-bottom: 48px;
}

.profileInfoModalBody {
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  padding: 16px 24px 32px 24px;
}

.profileInfoModalContentBox {
  margin-top: 16px;
}

.imageUploadBox {
  margin-top: 24px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 32px;
}

.imageBox {
  padding: 24px 48px;
  border-radius: 10px;
}

.uploadedImageBorder > img {
  height: 88px;
  width: 129px;
}

/* Bank Info */
.bankInfo {
  margin: 48px 0px 48px 0px;
}

.bankInfoModalBody {
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  padding: 16px 24px 32px 24px;
}

.bankInfoModalContentBox {
  margin-top: 16px;
}

/* KYC Info */
.kycInfo {
  margin: 48px 0px 48px 0px;
}

.KYCInfoModalBody {
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  padding: 16px 24px 32px 24px;
}

.KYCInfoModalContentBox {
  margin-top: 16px;
}

/* Other Options */
.otherOptions {
  margin-top: 48px;
}

/* Common */
.infoContentTitleBox {
  margin-bottom: 16px;
}
.infoContentBox {
  padding: 16px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infoContentBoxMobile {
  padding: 16px 16px;
  display: flex;
  justify-content: space-between;
}

.avatarImage {
  position: relative;
  display: block;
  margin: 0 auto;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

/* Delete Account Modal */
.deleteAccountModalBody {
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  box-shadow: 24px;
  padding: 16px 24px 32px 24px;
}

.deleteAccountModalContentBox {
  padding: 16px;
}

.deleteAccountModalButton {
  padding: 8px 0;
  text-transform: initial;
}

/* Change Password Modal */
.changePasswordModalBody {
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  box-shadow: 24px;
  padding: 16px 24px 32px 24px;
}

.changePasswordModalContentBox {
  margin-top: 16px;
}

.inputField {
  background: rgba(196, 196, 196, 0.1);
  border-radius: 4px;
  padding: 10px;
}

/* Common Modal Styles */
.modalTopBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.textUnderScore {
  background-color: #f9e006;
  height: 5px;
  width: 20px;
}
